# -*- coding: utf-8 -*-
##############################################################################
#Author: @SVAKSHA, Tuesday 21 January 2014 14:00:20 PM IST 
##############################################################################

! *.pdf

#====================================================
# GENERAL
#====================================================
pvt/
pvt-*
PVT-*
*-pvt-*
/PRIVATE/*
/PRIVATE-*/
PRIVATE/

#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore

#====================================================
# EDITOR: Vi
#====================================================
*.swp
.directory


